.centerB {
  display: flex;
  justify-content: center;
  align-items: center;
  --background: #10316B;
  font-size: large;

}

ion-toolbar {
  --background: #001D6E;

  ion-title {
    --color: white;
    font-weight: bold;
  }
}
ion-content {

  --background: #C4DDFF;
}
