ion-toolbar{
  --background:#47b5ff;
  ion-title{
    --color:white;
  }
}

ion-content {
  --background: #06283d;

  ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }
  ion-card {
    ion-item {
      --background: #dff6ff;
    }
  }

  .login {
    --background: #3b86f0;
  }
  .forgot_password {
    margin: 10px;
    --background: #bdd8e6;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dff6ff;
  }

  .centerB {
    display: flex;
    justify-content: center;
    align-items: center;
    --background: #47b5ff;
  }

  .AllLogin {
    --background: #97d2ec;
  }
}
